<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280186310713-v90hmsb7dqk1tri3l8u7ichkpdthude9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280186310713-v90hmsb7dqk1tri3l8u7ichkpdthude9</string>
	<key>API_KEY</key>
	<string>AIzaSyChEc5a5FyS7WUMXRGFJpuOsxzjGuSU-ec</string>
	<key>GCM_SENDER_ID</key>
	<string>280186310713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamCall</string>
	<key>PROJECT_ID</key>
	<string>teamcall-49b4c</string>
	<key>STORAGE_BUCKET</key>
	<string>teamcall-49b4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280186310713:ios:c8a38582311b5a45e77de8</string>
</dict>
</plist>